
body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  font-size: 20x;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
